OPTGEOM
{{ geometry.optimise.type }}
{{ geometry.optimise.hessian }}
{{ geometry.optimise.gradient }}
{% for item in geometry.optimise.info_print -%}
    {{ item }}
{% endfor -%}
{% for key, value in geometry.optimise.convergence.items() -%}
    {{ macros.variable(key, value) }}
{% endfor -%}
ENDOPT