{% import 'macros.j2' as macros -%}
{{ title }}
EXTERNAL
{% for item in geometry.info_print -%}
    {{ item }}
{% endfor -%}
{% for item in geometry.info_external -%}
    {{ item }}
{% endfor -%}
{%- if geometry.optimise %}
OPTGEOM
{% include 'geometry_optimise.j2' %}
ENDOPT
{% endif -%}
{% if geometry.phonons -%}
FREQCALC
{% include 'geometry_phonons.j2' %}
ENDFREQ
{% endif -%}
{%- if geometry.elastic_constants %}
{{ geometry.elastic_constants.type }}
{% include 'geometry_elastic.j2' %}
END
END
{% endif -%}