{# Copyright (c)  Andrey Sobolev, 2020. Distributed under MIT license, see LICENSE file. #}
{% import 'macros.j2' as macros %}
{{ title|default('CRYSTAL by AiiDA') }}
EXTERNAL
{% if geometry %}
    {% for item in geometry.info_print %}
        {{ item }}
    {% endfor %}
    {% for item in geometry.info_external %}
        {{ item }}
    {% endfor %}
    {% if geometry.optimise %}
        {% include 'geometry_optimise.j2' %}
    {% endif %}
    {% if geometry.phonons %}
        {% include 'geometry_phonons.j2' %}
    {% endif %}
    {% if geometry.elastic_constants %}
        {% include 'geometry_elastic.j2' %}
    {% endif %}
{% endif %}
{% if "BASISSET" not in basis %}
    END
{% endif %}
{{ basis -}}
{% if "BASISSET" not in basis %}
    END
{% endif %}
{% include 'dft.j2' %}
SHRINK
{{ scf.k_points|join(' ') }}
{{ macros.optional_key(scf, 'numerical') -}}
{{ macros.optional_key(scf, 'fock_mixing') -}}
{{ macros.optional_key(scf, 'spinlock') -}}
{% for item in scf.post_scf -%}
    {{ item }}
{% endfor -%}
END
