{% if geometry.phonons.TEMPERAT -%}
    {{ macros.variable('TEMPERAT', geometry.phonons.TEMPERAT) }}
{% endif %}
{%- for item in geometry.phonons.info_print -%}
    {{ item }}
{% endfor -%}
{%- if 'INTENS' in geometry.phonons -%}
    INTENS
    {{ macros.optional_key(geometry.phonons.INTENS, 'technique') }}
    {% if geometry.phonons.INTENS.INTRAMAN %}
        INTRAMAN
        {% if geometry.phonons.INTENS.INTRAMAN.INTCPHF %}
            INTCPHF
            END
        {% endif -%}
        {%- for item in geometry.phonons.INTENS.INTRAMAN.options -%}
            {{ item }}
        {% endfor -%}
    {% endif -%}
{% endif -%}
