{% if geometry.phonons.SCELPHONO %}
    SCELPHONO
    {% for row in geometry.phonons.SCELPHONO %}
        {{ row | join(' ') }}
    {% endfor %}
{% endif %}
FREQCALC
{{ macros.optional_key(geometry.phonons, 'TEMPERAT') -}}
{% for item in geometry.phonons.info_print -%}
    {{ item }}
{% endfor -%}
{% if geometry.phonons.SCELPHONO %}
    DISPERSI
{% endif %}
{% if geometry.phonons.PREOPTGEOM %}
    PREOPTGEOM
    {{ macros.optimise_geometry(geometry.phonons.PREOPTGEOM) }}
    END
{% endif %}
{% if 'INTENS' in geometry.phonons -%}
    INTENS
    {{ macros.optional_key(geometry.phonons.INTENS, 'technique') -}}
    {% if geometry.phonons.INTENS.INTRAMAN %}
        INTRAMAN
        {% if geometry.phonons.INTENS.INTRAMAN.INTCPHF %}
            INTCPHF
            END
        {% endif -%}
        {%- for item in geometry.phonons.INTENS.INTRAMAN.options -%}
            {{ item }}
        {% endfor -%}
    {% endif -%}
{% endif -%}
ENDFREQ
