{{ macros.optional_key(geometry.optimise, 'type') }}
{{ macros.optional_key(geometry.optimise, 'hessian') }}
{{ macros.optional_key(geometry.optimise, 'gradient') }}
{% for item in geometry.optimise.info_print -%}
    {{ item }}
{% endfor -%}
{% if 'convergence' in geometry.optimise %}{% for key, value in geometry.optimise.convergence.items() -%}
    {{ macros.variable(key, value) }}
{% endfor %}{% endif %}