{# Copyright (c)  Andrey Sobolev, 2020. Distributed under MIT license, see LICENSE file. #}
{% macro variable(key, value) %}
    {% if value == true %}
        {{ key -}}
    {% elif value is iterable and value is not string %}
        {{ key }}
        {{ value|join('  ') -}}
    {% elif value is not sameas false %}
        {{ key }}
        {{ value -}}
    {% endif %}
{% endmacro %}

{% macro optional_key(parent, key) %}
    {% if key in parent %}
        {% if parent[key] is mapping %}
            {% for k, v in parent[key].items() %}
                {{ variable(k, v) }}
            {% endfor %}
        {% elif parent[key] is not string %}
            {{ variable(key, parent[key]) }}
        {% else %}
            {{ parent[key] }}
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro xc(xc) %}
    {% if xc is iterable and xc is not string and xc|length == 2 %}
        CORRELAT
        {{ xc[0] }}
        EXCHANGE
        {{ xc[1] }}
    {% elif 'LSRSH-PBE' in xc %}
        {{ variable('LSRSH-PBE', xc['LSRSH-PBE']) }}
    {% else %}
        {{ xc }}
    {% endif %}
{% endmacro %}

{% macro optimise_geometry(key) %}
    {{ optional_key(key, 'type') -}}
    {{ optional_key(key, 'hessian') -}}
    {{ optional_key(key, 'gradient') -}}
    {% for item in key.info_print -%}
        {{ item }}
    {% endfor -%}
    {{ optional_key(key, 'convergence') -}}
{% endmacro %}
